<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <form class="w-100">
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-md-6">
                  <label for="Email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="Email">
                </div>
            </div>
            <div class="row g-3 d-flex justify-content-center">
                <div class="col-md-6">
                  <label for="Password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="Password">
                </div>
            </div>
            <div class="row pt-3 d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-6">
                    <button type="submit" class="btn btn-info">Sign in</button>
                    <button type="submit" class="btn btn-info">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>