@media only screen and (max-width: 800px) {
    .container{
      width: 100% !important;
      height: 100%!important;
    }
  
    #heading {
      margin: 0 !important;
      width: 100% !important;
    }

    #headline {
      margin: 0 !important;
      font-size: 2rem !important;
      width: 100% !important;
      top: 10rem !important;
    }

    #subline {
      margin: 0 !important;
      top: 12rem !important;
      width: 100% !important;
    }

    #paragraph {
      margin-left: 0 !important;
      top: 12rem;
      width: 100% !important;
    }

    button {
      margin: 0 !important;
    }
  
}

#heading {
  position: relative;
  font-family: customnunito;
  font-size: 1.2rem;
  font-weight: 600;
  color: #C6F4D6;
  margin-left: 9rem;
  top: 5rem;
}

#headline {
  position: relative;
  font-family: customnunito;
  font-size: 2.6rem;
  font-weight: bold;
  color: #C6F4D6;
  margin-left: 12rem;
  top: 14rem;
  width: 50%;
  line-height: 3rem;;
}

#subline {
  position: relative;
  font-family: customnunito;
  font-size: 1.2rem;
  font-weight: 600;
  color: #C6F4D6;
  margin-left: 12rem;
  top: 14rem;
}

#paragraph {
  position: relative;
  font-family: customnunito;
  font-size: 1rem;
  font-weight: 500;
  color: #C6F4D6;
  margin-left: 12rem;
  top: 13rem;
}

button {
  position: relative;
  font-family: customnunito;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-left: 33.5rem;
  top: 15rem;
  border-radius: 1.25rem;
  height: 2.5rem;
  width: 10rem;
  background-color: #6EFD9F;
}