<div class="container">
    <div class="row">
        <mat-toolbar id="toolbar">
            <mat-toolbar-row class="justify-content-center">
                <span id="appHeading">{{appHeading}}</span>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span id="appBegin">{{appBegin}}</span>
                <mat-divider id="dividerBegin"></mat-divider>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../assets/images/1.jpg" class="card-img">
                <div class="card-img-overlay">
                    <button mat-button class="">{{appCard1Head}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../assets/images/lidia-estaban-P1GyECG5BbA-unsplash.jpg" class="card-img">
                <div class="card-img-overlay">
                    <button mat-button class="">{{appCard2Head}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../assets/images/fred-moon-0yqa0rMCsYk-unsplash.jpg" class="card-img">
                <div class="card-img-overlay">
                    <button mat-button class="">{{appCard3Head}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card text-bg-dark">
                <img src="../../../assets/images/wanderers.jpg" class="card-img">
                <div class="card-img-overlay">
                    <button mat-button class="" routerLink="/Order">{{appCard4Head}}</button>
                </div>
            </div>
        </div>
    </div>
</div>